.explore_genre{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.explore-genre h1{
    color: #153448;
    font-weight: 500;
}
.explore-genre-text{
    max-width: 60%;
    color: #153448;
}
.explore-genre-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;
    overflow-x: scroll ;
}
.explore-genre-list::-webkit-scrollbar{
    display: none;
}
.explore-genre-list-item img{
    width: 7.5vw;
    min-width: 80px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
}
.explore-genre-list-item p{
    margin-top: 10px;
    color: #153448;
    font-size: max(1.2vw,16px);
    font-weight: 500;
    cursor: pointer;
}

.explore-genre hr{
    margin: 10px 0px;
    height: 2px;
    background-color: #e2e2e2;
    border: none;
}
.explore-genre-list-item .active{
    border: 4px solid tomato;
    padding: 2px;
}

@media (max-width:1050px) {
    .explore-genre-text{
        max-width: 100%;
        font-size: 14px;
    }
}